<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Panel<sup>Admin</sup>Slot</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="dashboard.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="./components/game.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Demo</span></a>
    </li>

    <!-- Nav Item - Member -->
    <li class="nav-item">
        <a class="nav-link" href="member.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Member</span></a>
    </li>

    <!-- Nav Item - Deposit -->
    <li class="nav-item">
        <a class="nav-link" href="deposit.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Deposit</span></a>
    </li>

    <!-- Nav Item - Withdraw -->
    <li class="nav-item">
        <a class="nav-link" href="withdraw.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Withdraw</span></a>
    </li>
</ul>